* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans";
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.ttf") format("ttf"), url("./fonts/OpenSans-Medium.ttf") format("ttf"),
    url("./fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}

body {
  background: $color-main;
  color: $color-text;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  nav {
    margin: auto;
    width: 90%;
    max-width: 1300px;

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 15px 0;
      li {
        a {
          color: white;
          text-decoration: none;
          font-size: 1.4rem;
          &.active {
            color: yellow;
          }
        }
      }
    }
  }
}

h1,
h2,
h3 {
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
}

a {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  background: white;
  opacity: 0.3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page {
  min-height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 15px;

  row-gap: 25px;
}

.tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: lighten($color-main, 10);
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 15px;

  &:hover {
    background: lighten($color-main, 15%);
  }
}

#details {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .title {
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    .description {
    }
  }
}

#goback {
  position: absolute;
  top: 50px;
  left: 50px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    svg {
      margin-right: 1rem;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
