* {
  box-sizing: border-box;
}

body {
  background: $color-main;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  nav {
    margin: auto;
    max-width: 1300px;
    ul {
      width: 100%;
    }
  }
}
