/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans";
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.ttf") format("ttf"), url("./fonts/OpenSans-Medium.ttf") format("ttf"), url("./fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}
body {
  background: rgb(33, 33, 33);
  color: rgb(242, 242, 243);
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}
header nav {
  margin: auto;
  width: 90%;
  max-width: 1300px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}
header nav ul li a.active {
  color: yellow;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

a {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  background: white;
  opacity: 0.3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page {
  min-height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 15px;
  row-gap: 25px;
}

.tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #3b3b3b;
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 15px;
}
.tile:hover {
  background: #474747;
}

#details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#details .line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#details .line .title {
  font-size: 1.1rem;
  text-transform: uppercase;
}
#goback {
  position: absolute;
  top: 50px;
  left: 50px;
}
#goback a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#goback a svg {
  margin-right: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
